h2 {
  color: #f8f8c9;
  text-transform: capitalize;
}
h3 {
  color: #f8f8c9;
}
h6 {
  color: #f8f8c9;
}

hr {
  border-color: #006400;
}

.hum {
  position: relative;
  top: -65px;
  left: 40px;
  color: #f8f8c9;
}
.wind {
  position: relative;
  top: -40px;
  left: -100px;
  color: #f8f8c9;
}
.card {
  margin: 0 auto;
  border: 1px solid #006400;
  max-width: 650px;
  border-radius: 4px;
  background-image: url(https://cdn.pixabay.com/photo/2014/07/06/20/27/watercolor-385841_1280.jpg);
}

.btn-sm {
  margin: 10px auto;
}

.btn-outline-light {
  border-radius: 10px;
}

#current-weather-emoji {
  margin: 5px auto;
  font-size: small;
}

#description {
  font-size: small;
  text-transform: capitalize;
}
